{% extends "base.html" %}

{% block content %}
    <div style="display: flex; align-items: center; flex-wrap: wrap; justify-content: space-between">
        <h1> Balance: {{ account.balance }} </h1>

        <form action="{{ url_for('edit_balance', account_id=account.account_id, form="inputForm") }}" method="POST">
            <p>
                {{ inputForm.money.label }}<br>
                {{ inputForm.money }}<br>
                {% for error in inputForm.money.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ inputForm.submit() }}</p>
        </form>

        <form action="{{ url_for('edit_balance', account_id=account.account_id, form="outputForm") }}" method="POST">
            <p>
                {{ outputForm.money.label }}<br>
                {{ outputForm.money }}<br>
                {% for error in outputForm.money.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ outputForm.submit() }}</p>
        </form>
    </div>
    <h3> Owner: {{ account.owner }}</h3>
{% endblock %}
