<html>

    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Base-Title</title>
        {% endif %}
    </head>
    <body>
        <div>
            Go to Homescreen:   <a href="{{ url_for('home_site') }}">Home</a>
            Overview:           <a href="{{ url_for('overview') }}">Overview</a>
            Login:              <a href="{{ url_for('login') }}">Login</a>
        </div>
        <hr>
        {% block content %}{% endblock %}
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </body>
</html>