{% extends "base.html" %}

<h1>{{ company.company_name }}</h1>
<p><strong>Company ID:</strong> {{ company.company_id }}</p>
<p><strong>Address:</strong> {{ company.address }}</p>
<p><strong>Number of Employees:</strong> {{ company.employee_nr }}</p>
<p><strong>Company Info:</strong> {{ company.company_info }}</p>
<p><strong>Industry Type:</strong> {{ company.industry_type }}</p>
<p><strong>Account Number:</strong> {{ company.account_nr }}</p>
<p><strong>Opening Hours:</strong> {{ company.opening_hours }}</p>