{% extends "bootstrap/base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

<html>
{% block head %}
    {{ super() }}
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Base-Title</title>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block body %}
    <body style="background-image: url('/static/background.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;"
    >
    <div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center">
        <div>Go to Homescreen: <a class="href-blue" href="{{ url_for('home_site') }}">Home</a></div>
        <div id="clock"></div>
        <script>
            function updateClock() {
                var now = new Date();
                var day = now.getDate().toString().padStart(2, '0')
                var month = now.getMonth().toString().padStart(2, '0')
                var year = now.getFullYear().toString().padStart(2, '0')
                var hours = now.getHours().toString().padStart(2, '0');
                var minutes = now.getMinutes().toString().padStart(2, '0');
                var seconds = now.getSeconds().toString().padStart(2, '0');
                var time = day + '.' + month + '.' + year + ' - ' + hours + ':' + minutes + ':' + seconds;
                document.getElementById('clock').textContent = time;
            }

            setInterval(updateClock, 1000);
        </script>
        <div>
            {% if current_user.is_anonymous %}
                <a class="href-blue" href="{{ url_for('login') }}">Login</a>
            {% else %}
                Logged in as: {{ current_user.username }}
                {% if current_user.admin_tag %}
                    (ADMIN)
                {% endif %}
                <a class="href-blue" href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
    </div>

    <hr style="border-color: #1D3557; border-width: 0.1rem; border-style: solid;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}

{% endblock %}
</body>
</html>