{% extends "bootstrap/base.html" %}

{% block style %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

<html>
{% block head %}
    {{ super() }}
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Base-Title</title>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block body %}
    <div style="display: flex; flex-wrap: wrap; justify-content: space-between">
        <div>Go to Homescreen: <a style="color: blue" href="{{ url_for('home_site') }}">Home</a></div>
        {% if current_user.admin_tag %}
            <div>Company Overview: <a style="color: blue" href="{{ url_for('company_overview') }}">Overview</a></div>
            <div>Security Overview: <a style="color: blue" href="{{ url_for('security_overview') }}">Overview</a>
            </div>
        {% endif %}
        <div>
            {% if current_user.is_anonymous %}
                <a style="color: blue" href="{{ url_for('login') }}">Login</a>
            {% else %}
                Logged in as: {{ current_user.username }}
                {% if current_user.admin_tag %}
                    (ADMIN)
                {% endif %}
                <a style="color: white" href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
    </div>

    <hr>

    {% block content %}{% endblock %}

    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}

</html>