{% extends "base.html" %}

{% block content %}
    <h1>Welcome to the company-management site, {{ current_user.username }}!</h1>
    {% if current_user.admin_tag %}
        <a href="{{ url_for('company_creation') }}">Create Company</a>
        <a href="{{ url_for('security_creation') }}">Create Security</a>
    {% endif %}
    <hr>
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Employee Number</th>
            <th>Industry Type</th>
            <th>Company Info</th>
            {% if current_user.admin_tag %}
                <th/>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>
                    <a href="{{ url_for('company_details', company_id=company.company_id) }}">
                        {{ company.company_name }}
                    </a>
                </td>
                <td>{{ company.address }}</td>
                <td>{{ company.employee_nr }}</td>
                <td>{{ company.industry_type }}</td>
                <td>{{ company.company_info }}</td>
                {% if current_user.admin_tag %}
                    <td>
                        <a class="btn"
                           href="{{ url_for('update_comp',comp_id = company.company_id) }}"
                           style="text-align: right; color: blue">
                            bearbeiten
                        </a>
                    </td>
                {% endif %}
                {% if current_user.admin_tag %}
                    <td>
                        <a class="btn"
                           href="{{ url_for('company_deletion',company_id = company.company_id) }}"
                           style="text-align: right; color: red">
                            löschen
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>

    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Currency</th>
            <th>Amount available</th>
            <th>Market</th>
            <th>Company</th>
            {% if current_user.admin_tag %}
                <th/>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for security in securities %}
            <tr>
                <td>{{ security.name }}</td>
                <td>{{ security.price|round(3) }}</td>
                <td>{{ security.currency }}</td>
                <td>{{ security.amount }}</td>
                <td>{{ security.market_id }}</td>
                <td>{{ security.comp_id }}</td>
                {% if current_user.admin_tag %}
                    <td>
                        <a class="btn-block"
                           href="{{ url_for('security_deletion',security_id = security.security_id) }}"
                           style="text-align: right; color:red">
                            löschen
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}