{% extends "base.html" %}

{% block content %}
    <h1>Edit Security:</h1>
    <div class="container">
        <form action="{{ url_for('update_sec', sec_id=object.security_id) }}" style="text-align: left" method="POST">
            <p class="form-group">
                <label for="id">ID:</label><br>
                <input name="object_id" value="{{ object.security_id }}"
                       style="background-color: #f1f1f1; color: #999999; width: 50ch"
                       readonly>
            </p>
            <p class="form-group">
                <label for="name">Name:</label><br>
                <input type="text" name="name" id="name" value="{{ object.name }}"
                       style="width: 50ch" required><br>
            </p>
            <p class="form-group">
                <label for="amount">Amount:</label><br>
                <input name="amount" value="{{ object.amount }}" style="width: 50ch">
            </p>
            <p class="form-group">
                <label for="curr">Currency:</label><br>
                <input type="curr" name="curr" id="curr" value="{{ object.currency }}"
                       style="width: 50ch" required><br>
            </p>
            <p class="form-group">
                <label for="price">Price:</label><br>
                <input name="price" value="{{ object.price }}"
                       style="background-color: #f1f1f1; color: #999999; width: 50ch"
                       readonly>
            </p>
            <p class="form-group">
                <label for="comp">Market:</label><br>
                <input name="comp" value="{{ object.market_id }}"
                       style="background-color: #f1f1f1; color: #999999; width: 50ch"
                       readonly>
            </p>
            <p class="form-group">
                <label for="market">Company:</label><br>
                <input name="market" value="{{ comp.company_name }}"
                       style="background-color: #f1f1f1; color: #999999; width: 50ch"
                       readonly>
            </p>

            <input type="submit" value="Save">
        </form>
    </div>
{% endblock %}