{% extends "base.html" %}

{% block content %}
    <h1>Additional confirmation</h1>
    <div class="container">
        <div class="container">
            <table class="table table-hover table-condensed transparent-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Currency</th>
                    <th>Amount available</th>
                    <th>Market</th>
                    <th>Company</th>
                    {% if current_user.admin_tag %}
                        <th/>
                        <th/>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for security in securities %}
                    <tr>
                        <td>{{ security.name }}</td>
                        <td>{{ security.price|round(3) }}</td>
                        <td>{{ security.currency }}</td>
                        <td>{{ security.amount }}</td>
                        <td>{{ security.market_id }}</td>
                        <td>{{ security.comp_id }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container">
            <form method="POST">
                <input type="submit" value="Submit" style="margin-top: 15px">
            </form>
        </div>
    </div>

{% endblock %}